@import "../../../scss/variables";

button {
	padding: 1rem 0;
	width: 100%;
	text-align: center;
	background-color: $orange-color;
	color: $white-color;
	border-radius: 8px;
	transition: 0.2s;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	&:active {
		box-shadow: 0 3px 10px $orange-color;
	}
}

@media screen and (min-width: 768px) {
	button {
		padding: 1rem 0;
		width: 100%;
		text-align: center;
		background-color: $orange-color;
		color: $white-color;
		border-radius: 8px;
		transition: 0.2s;
		-ms-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		font-weight: bold;

		&:hover {
			box-shadow: 0 3px 10px $orange-color;
			background-color: lighten($color: $orange-color, $amount: 10%);
		}
	}
}
