@import "../../../scss/variables";
.desktop-carousel {
	position: relative;
	overflow: hidden;
	justify-self: center;
	padding-bottom: 1rem;
	border-radius: 1rem;
	width: 80%;
	.inner {
		display: flex;
		flex-wrap: nowrap;
		transition: 0.5s;
		.product-images {
			width: 100%;
			border-radius: 1rem;
			margin-bottom: 1.5rem;
			flex-shrink: 0;
		}
	}
	.translate {
		transform: translateX(200%);
	}

	.image-page-container {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		position: static;
		bottom: 5%;
		left: 5%;
		right: 5%;
		gap: 10px;
		.image-page {
			height: 20%;
			width: 20%;
			border-radius: 10px;
			opacity: 100%;
			transition: 0.5s;
			&.active {
				// background-color: rgb(102, 100, 100);
				background-color: rgb(47, 47, 47);
				opacity: 60%;
				border: 4px solid $orange-color;
			}
			&:active {
				transform: scale(1.2);
			}
		}
	}

	.light-box {
		position: fixed;
		background-color: rgba(28, 28, 28, 0.757);
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: none;
		&.active {
			display: flex;
			.light-box-content {
				width: 50%;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				.desktop-lightbox {
					overflow: hidden;
					justify-self: center;
					padding-bottom: 1rem;
					border-radius: 1rem;

					.inner {
						// overflow: hidden;
						display: flex;
						flex-wrap: nowrap;
						transition: 0.5s;
						width: 100%;

						.lightbox-product-images {
							// height: 300px;
							width: 100%;
							border-radius: 1rem;
							flex-shrink: 0;
						}
					}
					.translate {
						transform: translateX(200%);
					}
				}
				.icon {
					position: absolute;
					padding: 10px 12px;
					background-color: $white-color;
					border-radius: 100%;
					top: 45%;
					display: block;
					height: 35px;
					z-index: 1;

					&.left {
						left: -20px;
					}

					&.right {
						right: -20px;
					}
					&.show {
						display: block;
					}
				}
				padding-top: 3rem;
				.icon-close {
					color: $orange-color;
					position: absolute;
					z-index: 20;
					top: 0px;
					right: 0px;
					font-size: 25px;
					cursor: pointer;
				}
				.image-page-container {
					display: flex;
					justify-content: space-between;
					cursor: pointer;
					position: static;
					bottom: 5%;
					width: 80%;
					gap: 10px;
					.image-page {
						height: 60px;
						width: 70px;
						border-radius: 10px;
						opacity: 100%;
						transition: 0.5s;
						&.active {
							// background-color: rgb(102, 100, 100);
							background-color: rgb(47, 47, 47);
							opacity: 60%;
							border: 4px solid $orange-color;
						}
					}
				}
			}
		}
	}
}
